.blogarchive-title {
  font-size: 30px;
}

.blogarchive-title a:hover {
  text-decoration: none;
}

.blogarchive-date {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 10px;
}

.blogarchive-post {
  border-bottom: 1px solid #dddddd;
  padding: 0px 0px 20px 20px;
  border-radius: 10px;
}

.blogpost-desc {
  font-size: 15px;
  margin-bottom: 15px;
}

.blogpost-pointer {
  font-size: 15px;
}

#header-span {
  padding: 0px 30px 0px 30px;
}
