.blogpost {
	font-size: 18px;
	margin-bottom: 25px;
}

pre {
	background-color: white;
}

code {
	color: black;
	font-size: 13px;
	text-align: left;
}

.blogpost-title {
	font-size: 40px;
	font-weight: bold;
}

.blogpost-date {
	font-style: italic;
	font-size: 15px;
	margin-bottom: 30px;
}

.fa-bordered {
	border: 1px solid #DDDDDD;
	padding: 10px;
	border-radius: 5px;
}

.share {
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding:15px;
	margin-top: 15px;
}

.share > .row {
	margin-top: 5px;
}

.tw-sh {
	color: #55acee;
}

.fb-sh {
	color: #3b5998;
}

.back-link, .back-link a {
	text-align: center;
	color: #000000;
}
